.chat-main {
  width: 100%;
}

.chatview-wrapper {
  width: 100%;
  height: 85%;
  background-color: #63768D;
}

.text-editor-wrapper {
  width: 100%;
  height: 15%;
  border-top: #0E1428 4px solid;
  box-sizing: border-box;
  background-color: #575366;
}

.text-input-area {
  background-color: #32292F;
  padding: 10px 15px;
  // width: 400px;
  border: 1px solid #0E1428;
  margin-bottom: 20px;
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 3px;
  margin: 25px 25px 0 25px;
  height: 65%;
}