html, body, #root {
    height:100%;
}

// html, body, #root
// {
//     height: 100vh;
// }

.main {
  background-color: #63768D;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}