.question-text-box {
  
  width: 80%;
  color: #D4F2D2;
  background-color: #575366;
  box-sizing:border-box;
  overflow-y: scroll;
  max-height: 200px;
}

.chat-player{
  width: 100%;
  color: #D4F2D2;
}

