.question-text-box {
  position: relative;
  width: 70%;
  color: #D4F2D2;
  margin: 5px;
  margin-left: 7px;
  margin-top: -40px;
  padding: 5px;
  background-color: #575366;
  box-sizing:border-box;
  overflow-y: scroll;
  max-height: 200px;
  z-index: 5;
}



