.spectator-wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}

.screen-top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.spectator-player1 {
  flex-direction: column;
  display: flex;
  width: 60%;
}

.spectator-player2 {
  flex-direction: column;
  display: flex;
  width: 40%;
}

.player-title {
  width: 100%;
}

.player-components {
  display: flex;
}
.player-stats {
  display: flex;
  width: 33%;
}

.code-editor-wrapper-spectator {
  width: 67%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 16px;
}

.screen-bottom {
  display: flex;
  box-sizing: border-box;
  flex: 1;
}

.challenge-question-wrapper-spectator {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-chat-wrapper-spectator {
  width: 150%;
}

.main-spectator {
  background-color: #63768D;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 56px);
}