.spectator-wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.screen-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 300px;
}

.screen-bottom {
  display: flex;
  box-sizing: border-box;
  flex: 1;
}

.spectator-player1 {
  display: flex;
  height: 100%;
    flex: 1.4;
}

.spectator-player2 {
  display: flex;
  height: 100%;
  flex: 1;
}

.player-components {
  display: flex;
}

.player-stats {
  display: flex;
}

.code-editor-wrapper-spectator {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.challenge-question-wrapper-spectator {
  display: flex;
  // width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.game-chat-wrapper-spectator {
  width: 20rem;
  height: 28rem;
  flex: 1;
  display: flex;
  margin-top: 10px;
}

.main-spectator {
  background-color: #63768D;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 56px);
  min-width: fit-content;
}